<!DOCTYPE html>
<html lang="">
<head>
	<meta charset="utf-8">
	<title>自动化部署系统</title>
	<meta name="description" content="" />
	<meta name="keywords" content="" />
	<meta name="robots" content="" />
	<meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">
	<link rel="stylesheet" href="/static/css/style.css" media="all" />
	<!--[if IE]><link rel="stylesheet" href="css/ie.css" media="all" /><![endif]-->
</head>
<body>
<div class="testing">
<header class="main">
	<h1><strong>自动化部署系统</strong></h1>
	<input type="text" value="search" />
</header>
<section class="user">
	<div class="profile-img">
		<p><img src="images/uiface2.png" alt="" height="40" width="40" /> 欢迎回来 小明</p>
	</div>
	<div class="buttons">
		<button class="ico-font">&#9206;</button>
		<span class="button dropdown">
			<a href="#">Notifications <span class="pip">4</span></a>
			<ul class="notice">
				<li>
					<hgroup>
						<h1>You have a new task</h1>
						<h2>Report web statistics week by week.</h2>
					</hgroup>
					<p><span>14:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1>New comment</h1>
						<h2>Comment on <em>About page</em> by Darren.</h2>
					</hgroup>
					<p><span>11:04</span></p>
				</li>
				<li>
					<hgroup>
						<h1>Broken link</h1>
						<h2>We've spotted a broken link on the <em>Blog page</em>.</h2>
					</hgroup>
					<p><span>10:46</span></p>
				</li>
				<li>
					<hgroup>
						<h1>User report</h1>
						<h2><em>Lee Grant</em> has been promoted to admin.</h2>
					</hgroup>
					<p><span>09:57</span></p>
				</li>
			</ul>
		</span>
		<span class="button dropdown">
			<a href="#">Inbox <span class="pip">6</span></a>
			<ul class="notice">
				<li>
					<hgroup>
						<h1>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1><span class="icon">&#59154;</span>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
				<li>
					<hgroup>
						<h1><span class="icon">&#59154;</span>Hi, I need a favour</h1>
						<h2>John Doe</h2>
						<h3>Lorem ipsum dolor sit amet, consectetuer sed aidping putamus delo de sit felume...</h3>
					</hgroup>
					<p><span>11:24</span></p>
				</li>
			</ul>
		</span>
		<span class="button">Live</span>
		 <span class="button">Help</span>
		 <span class="button blue"><a  href="/logout/" onclick='javascript:location.replace(""); event.returnValue=false;' >Logout</a></span>
	</div>
</section>
</div>
<nav>
	<ul>
    <li><a ><span class="icon">&#128711;</span> ---- </a></li>
		<li>
			<a href="/auto_deploy/"><span class="icon">&#128196;</span>开始部署</a>
		</li>
		<li>
			<a href="/dep_history/"><span class="icon">&#127748;</span> 部署历史 <span class="pip">7</span></a>
		</li>
		<li>
			<a href="#"><span class="icon"></span></a>
		</li>
		<li><a href="#"><span class="icon"></span>  </a></li>
		<li><a href="#"><span class="icon">&#128101;</span> 系统管理员 <span class="pip">3</span></a></li>
		<li class="section">
			<a href="#"><span class="icon">&#9881;</span> 参数配置 </a>
			<ul class="submenu">
        <li><a href="/deployment_conf/">生产服务器配置</a></li>
        <li><a href="/integration_conf/">集成环境</a></li>
			</ul>
		</li>
	</ul>
</nav>

<section class="content">
	<section class="widget" style="min-height:300px">
		<header>
			<span class="icon">&#59160;</span>
			<hgroup>
				<h1>部署</h1>
				<h2>持续集成系统</h2>
			</hgroup>
			<aside>
				<span>
					<a href="#">&#9881;</a>
					<ul class="settings-dd">
						<li><label>Option a</label><input type="checkbox" /></li>
						<li><label>Option b</label><input type="checkbox" checked="checked" /></li>
						<li><label>Option c</label><input type="checkbox" /></li>
					</ul>
				</span>
			</aside>
		</header>
		<div class="content">
		 <form method="post">
			 {% csrf_token %}
       <table class="fullwidth">
          <tr>
              <td><label><strong>集成系统域名：</strong></label></td>
              <td><input id="int_url" type="text" value="" required="required"></input></td>
          </tr>
          <tr>
              <td><label ><strong>项目名称：</strong></label></td>
              <td><input id="int_jobname" type="text" value="" required="required"></input></td>
          </tr>
          <tr>
              <td><label ><strong>用户名：</strong></label></td>
              <td><input id="int_user" type="text" value=""></input></td>
          </tr>
          <tr>
              <td><label ><strong>密码：</strong></label></td>
              <td><input id="int_password" type="text" value=""></input></td>
          </tr>

          <tr>
            <td></td>
            <td></td>

            <td><button id="int_button" class="green"> &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;确认修改&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</button></td>
            <td>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
          </tr>
       </table>
		</form>

		</div>
	</section>
</section>
<script src="/static/jquery/1.6.4/jquery.min.js"></script>
<script src="/static/js/jquery.wysiwyg.js"></script>
<script src="/static/js/custom.js"></script>
<script src="/static/js/cycle.js"></script>
<script src="/static/js/jquery.checkbox.min.js"></script>
<!--<script src="js/flot.js"></script>
<script src="js/flot.resize.js"></script>
<script src="js/flot-graphs.js"></script>
<script src="js/flot-time.js"></script>
<script src="js/cycle.js"></script>-->
<script src="/static/js/jquery.tablesorter.min.js"></script>
<script src="/static/js/configuration.js"></script>
</body>
</html>
